body
{
	margin: 0;
	padding: 0;
    background-size: 100%;
    font-family: sans-serif;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    margin: 2% auto;
}

.success {
    background: #D4EDDA;
    color: #40754C;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    margin: 2% auto;
}